@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: rgb(35, 45, 57);
    background-color: #f9f9f9;
}

.container{
    width: min(95%, 1200px);
    margin-inline: auto;
    padding: 0 20px;
}
/* header section */
header{
    background-color: #212529;
    height: 80px;
    color: #fff;
    position: relative;
    z-index: 1000;
    position: sticky;
    top: 0;

}
.nav-links .logo{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
 span{
    color: #ed563b;
}
.nav-links{
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 20px 0;
}
.nav-links ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 0.8125rem;
    padding-inline: 20px;
}
.nav-links ul li a:hover{
    color: #ed563b;
}
.nav-links ul li a.active{
    color: #ed563b;}
 .btn{
    padding: 10px 20px;
    background-color: #ed563b;
    color: #fff;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
/* mobel */
.mobile-links , .hamburger{
    display: none;
}

/* hero section */
.hero{
    position: relative;
    display: flex;
    height: calc(100vh - 80px);
    background-color: rgba(33, 37, 41, 0.815);
    overflow: hidden;

}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.hero .container h6{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase ;
}
.hero .container h2{
    color: #fff;
    font-size: 84px;
    font-weight: bold;
    margin-block: 30px;
    text-transform: uppercase;
}
.hero .container p{
    font-size: 14px;
    color: #7a7a7a;
    text-align: center;
}
/* ABOUT SECTION */
.about-section, .class-section {
    display: flex;
    margin-bottom: 80px;
}
 .container .intro{ 
    margin-top: 140px;
    margin-bottom: 80px;
    text-align: center;
}
.container .intro img{
    margin-block: 20px;
} 
.container h2{
    font-size: 28px;
    color: #232d39;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.left-content , .right-content{
    padding-inline: 15px;
    margin-bottom: 80px;
    
}
.one-content{
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}
.one-content img{
    margin-right: 30px;
}
.one-content  .content h4{
    font-size: 19px;
    margin-bottom: 7px;
    color: #232d39;
}
.one-content  .content p{
    color: #7a7a7a;
    font-size: 14px;
}
.one-content  .content a{
    text-decoration: none;
    color: #ed563b;
    font-size: 13px;
    margin-top: 7px;
}
/* call action section */
.call-action{
    background: url("images/cta-bg.jpg" ) center/cover no-repeat;
    display: flex;
    width: 100%;
    justify-content: center;
}
.call-action .action-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;  
    padding: 120px 0;  
}
.call-action .action-info h2{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.call-action .action-info p{
    color: #fff;
    margin: 15px 0 25px 0;
    font-size: 15px;
}

/* classes section */
.class-section {
    display: flex;
    margin-bottom: 80px;
}
.class-section .left-content img{
    margin-right: 20px;
}
.class-section .left-content a{
    font-size:19px ;
}
.class-content{
    display: flex;
 }
.class-section .left-content .one-content{
    padding: 30px;
    background-color: #ffffff;
    width: 350px;
    box-shadow: 0 1px 1px rgba(68, 71, 73, 0.137);
    margin-bottom: 30px;
}
.class-section .left-content > div {
    padding: 20px 30px;
    background-color: #ed563b;
    width: 350px;
}
.class-section .left-content > div .a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    text-align: center;

}
.class-section .right-content .one-content{
    flex-direction: column;
    align-items: flex-start;
}
.class-section .right-content .one-content img{
    width: 100%;
}
.class-section .right-content .one-content .content h4{
    font-size: 23px;
    color: #232d39;
    margin-block: 30px 20px;
}
.class-section .right-content .one-content .content p{
    color: #7a7a7a;
    margin-bottom: 28px;
    font-size: 14px;
}
.class-section .right-content .one-content .content .btn{
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
}
.schedule-section{
    background: url("images/schedule-bg.jpg") center/cover no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
}
.schedule-section h2, .schedule-section p{
    color:#ffffff;
}
.days ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}
.days ul li{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #ffffff;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.days ul li:hover{
    color: #ed563b;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-color: #fff;
    color: #fff;
    margin-bottom: 80px;
}
th, td{
    padding: 40px 10px;
    font-size: 14px;
}


/* trainer section */
.trainer-section{
    display: flex;
    margin-bottom: 80px;
}
.trainer-section .container .intro p{
    color: #7a7a7a;
}
.trainer-blocks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;

}

.trainer-blocks .one-block{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    box-shadow: 1px 1px 5px rgba(33, 37, 41, 0.089);
}
.one-block img{
    width: 100%;
}
.one-block span{
    font-size: 13px;
    margin-block: 25px 10px;
}
.one-block h4{
    color: #232d39;
    margin-bottom: 18px;
    font-size: 19px;
}
.one-block p{
    font-size: 14px;
    margin-bottom: 20px;
    color: #7a7a7a;
}
.social-icons{
    list-style: none;
    display: flex;
    gap: 15px;
}
.social-icons li a{
    text-decoration: none;
    color: #232d39;
    font-size: 14px;
    transition: color 0.3s ease;
}
/* contact section */

.contact-section {
    margin-bottom: 80px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
}

.contact-info .iframe-location {
    flex: 1 1 48%;
    min-width: 300px;
    height: 600px;
}

.contact-info .iframe-location iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-info .contact-form {
    flex: 1 1 48%;
    min-width: 300px;
    background:url("images/contact-bg.jpg") center/cover no-repeat;
    padding: 80px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

form{
    background-color: #fff;
    padding: 40px;
}

.contact-info .contact-form .inputs {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-info .contact-form .inputs input {
    flex: 1;
    padding: 10px;
}

.contact-info .contact-form input,
.contact-info .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.contact-info .contact-form button {
    background-color: #ed563b;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-info .contact-form button:hover {
    background-color: #d94c2a;
}

/* footer section */


footer {
    text-align: center;
    padding-block:30px;
    background-color: #ffffff;
    

}
footer p{
    color: #232d39;
    font-size: 13px;
}

/* media query for tablets */
@media(max-width:1024px){
    .desk-link{
        flex-direction: column;
        gap: 2rem;
    }
    .about-content{
        grid-template-columns: 1fr;
    }
    .about-content .left-content{
        margin-bottom: 0;
    }
    .class-content{
        flex-direction: column;
    }
    .class-content .left-content .one-content,.class-content .left-content > div {
        width: 100%;
    }
    .class-section .left-content, .class-section .right-content{
        margin-bottom: 40px;
    }
    .trainer-blocks{
        grid-template-columns:  1fr;
    }
}

/* media query for mobile */
@media (max-width:740px){
    .nav-links .desktop-links{
        display: none;
    }
    .mobile-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #ffffff;
        margin-bottom: 0;
    }
    .mobile-links[data-visible="false"]{
        transform: translateX(100%);
    }
    .hamburger i[data-visible="true"]{
        display: block;
    }
    .hamburger i[data-visible="false"]{
        display: none;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 25px;
        right: 20px;
    }
    header .logo{
        text-align: center;
        width: 100%;

    }
    .mobile-links{
        padding-bottom: 0;
    }
    .mobile-links .phone-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        }
    .mobile-links .phone-links li{
        border-bottom: #f5f4f4 1px solid;
        width: 100%;
    }

    .mobile-links  ul li a{
        color: #212529;
    }
    .mobile-links  .btn{
        color: #fff;
        display: block;
        
    }
    .about-content{
        grid-template-columns: 1fr;
    }
    .about-content .left-content{
        margin-bottom: 0;
    }
    .class-content{
        flex-direction: column;
    }
    .class-content .left-content .one-content,.class-content .left-content > div {
        width: 100%;
    }
    .class-section .left-content, .class-section .right-content{
        margin-bottom: 40px;
    }
    .trainer-blocks{
        grid-template-columns:  1fr;
    }
    .contact-section .contact-info{
        flex-direction: column;
    }


}
